*.hi
*.o
*.core
.cabal-sandbox
dist
cabal.sandbox.config
client_session_key.aes
static
.stack-work
google*
content
data
server.*
*~
accounts
cbgusers.sqlite
run
deploy
backup
orig.cbgusers
scripts
syncback
target